a.button {
     text-decoration: none;
     border: 3px solid $color__orange;
     color: $color__orange;
     display: inline-block;
     margin: 1em 0;
     padding: 1em 1.6em;
     font-size: 0.85rem;
     border-radius: 5px;
     background-color: $color__white;
     text-transform: uppercase;
     line-height: 1;
     font-weight: bold;
     font-family: $font__heading;
     transition: all 150ms;
     &:visited {
          color: $color__orange;
     }
     &:hover {
          background-color: $color__orange;
          color: $color__white;
     }
}
a.button-secondary {
     @extend .button;
     background-color: $color__orange;
     color: $color__white;
     &:visited {
          color: $color__white;
     }
     &:hover {
          background-color: $color__white;
          color: $color__orange;
     }
}
a.button-tertiary {
     @extend .button;
     border-color: $color__grey;
     color: $color__grey;
     &:visited {
          color: $color__grey;
     }
     &:hover {
          background-color: $color__grey;
          color: $color__white;
     }
}