.nav {
     margin-right: auto;
     .menu {
         margin: 0;
         padding: 0;
         list-style: none;
         display: flex;
          &-item {
               margin-right: 0.5em;
               &-link {
                    color: $color__blue;
                    text-decoration: none;
                    padding: 0.6em 1em;
                    display: block;
                    font-family: $font__heading;
                    &:hover {
                         background-color: lighten($color__grey, 5%);
                    }
               }
          }
     }

}